morph/Debug
morph/Release
morph/GeneratedFiles
morph2/Debug
morph2/Release
morph2/GeneratedFiles
morph-cl/Debug
morph-cl/Release
morph-cl/ProfilerOutput
gauss/Debug
gauss/Release
bin32/profiler/*.txt
bin32/styles

ipch

*.exe
*.pdb
*.ilk
*.opensdf
*.sdf
*.suo
*.dll
*.pro.user
*moc_*
*ui_*
*.o
Makefile
