morph/Debug
morph/Release
morph/GeneratedFiles
morph-cl/Debug
morph-cl/Release
morph-cl/ProfilerOutput
bin32/profiler/*.txt

ipch

*.exe
*.pdb
*.ilk
*.opensdf
*.sdf
*.suo
*.dll
*moc_*
*ui_*
*.o
Makefile
